.header {
    background: #f5f6fa;
    padding: 15px 0;
}
.logo {
    width: 35px;
}

.brand {
    font-weight: 700;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #000;
}
.btn-signin {
    padding: 8px 20px;
    border-radius: 20px;
    background: purple;
    color: white;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
}